/node_modules
/public/hot
/public/storage
/public/media/assets/blog
/storage/*.key
/storage/app/pdf_temp/
/vendor
/public/xml-conversion-files
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/config/common-data.php
python/venv/
python/__pycache__/
*.pyc


